@{
    ViewData["Title"] = "Error";
}

<div class="row mt-4">
    <div class="col-12">
        <h1 class="text-danger">Error</h1>
        <p>An error occurred while processing your request.</p>
    </div>
</div>

